@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 min-h-screen selection:bg-blue-600 selection:text-white font-sans;
  }
}

/* Custom scrollbar for tables and inputs */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #090d16;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
